.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.list li {
    margin-right: 1em;
}

.list li a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;
}

.list li a:hover {
    color: #ffbb33;
}